{# templates/print.html #}
<!DOCTYPE html>
<html>
  <head>
    <title>Versión para Imprimir</title>
    <link
      rel="stylesheet"
      href="{% static 'css/print.css' %}"
      type="text/css"
      media="print"
    />
    {# Ejemplo de CSS específico para impresión #}
  </head>
  <body>
    <h1>Versión para Imprimir</h1>
    <p>
      Esta es una versión simplificada de la página, optimizada para imprimir.
    </p>

    {# Aquí iría el contenido que quieres imprimir, en un formato adecuado para
    impresión #}
  </body>
</html>
